/**
 * Colors
 * @package Sass
 * @author Naycool Gonzalez <naycoolgonzalez@gmail.com>
 * @description Colores de la pagina
 */


$white: #ffffff;
$silver: #f4f4f4;
$black: #000;
$blue: #0c3d7c;
$blue_dark: #002c77;
$blue_light: #157ab1;
$yellow: #fdba12;


$color_1: $white;
$color_2: $black;
$color_3: $silver;
$color_4: $blue;
$color_5: $blue_dark;
$color_6: $blue_light;
$color_7: $yellow;
