/**
 * Estilos generales
 * @package Sass
 * @author Naycool Gonzalez <naycoolgonzalez@gmail.com>
 * @description Estilos generales de la pagina
 */

body {
  background-color: $color_3;
}

#main-header {
  background-color: $color_4;
  padding: 20px 10px;
  display: block;
}

#home {
  // border: 2px solid red;
  display: block;
  width: calc(100% - 60px);
  margin: 30px auto;
  position: relative;

  $bg: $color_1;
  $padding: 15px 20px;
  $tam_filter: 350px;

  .container-hotels,
  .filter {
    vertical-align: top;
    display: inline-block;
  }

  .filter {
    width: $tam_filter;

    h3 {
      font-size: 1.2em;
      background-color: $bg;
      margin-bottom: 5px;
      padding: $padding;
    }

    label.title {
      vertical-align: middle;
      color: $color_6;
    }

    .icon-star,
    .icon-search {
      vertical-align: middle;
      margin-right: 5px;
      svg {
        width: 20px;
        fill: $color_6;
      }
    }

    .form {
      font-weight: $font-bold;
      background-color: $bg;
      padding: $padding;

      .inputs {
        margin: 10px auto;

        button,
        input {
          display: inline-block;
          vertical-align: middle;
        }

        input {
          width: calc(100% - 110px);
          padding: 10px;
          font-size: 1em;
          margin-right: 10px;
        }

        button {
          padding: 7px 8px;
          font-size: 1.2em;
        }

      }
    }

    .top-score {
      margin-top: 5px;
      font-weight: $font-bold;
      background-color: $bg;
      padding: $padding;
      > .container {
        margin-top: 20px;
        label {
          display: block;
          margin-bottom: 15px;
          svg {
            fill: $color_7;
          }
        }
      }
    }
  }

  .container-hotels {
    display: inline-block;
    width: calc(100% - (#{$tam_filter} + 20px));
    margin-left: 12px;

    .hotel {
      $tam_image: 350px;
      background-color: $color_1;
      padding: 10px;
      .row {
        display: inline-block;
        vertical-align: top;

        &.image {
          width: $tam_image;
        }
        &.info {
          width: calc(60% - (#{$tam_image} / 2 + 5px));
          padding: 0 10px;

          .stars {
            svg {
              width: 20px;
              fill: $color_7;
            }
            margin: 10px auto;
          }
          .amenities {
            img {
              margin: 0 5px;
            }
          }
        }
        &.price {
          text-align: center;
          position: relative;
          border: 1px solid blue;
          width: calc(40% - (#{$tam_image} / 2 + 5px));
          color: $color_8;
        }
      }
    }

  }

}