/**
 * Estilos generales
 * @package Sass
 * @author Naycool Gonzalez <naycoolgonzalez@gmail.com>
 * @description Estilos generales de la pagina
 */

body {
  background-color: $color_3;
}

#main-header {
  background-color: $color_4;
  padding: 20px 10px;
  display: block;
}

#home {
  display: block;
  width: calc(100% - 60px);
  margin: 30px auto;
  position: relative;

  $bg: $color_1;
  $padding: 15px 20px;
  $tam_filter: 350px;

  .container-hotels,
  .filter {
    vertical-align: top;
    display: inline-block;
  }

  .filter {
    width: $tam_filter;

    h3 {
      font-size: 1.2em;
      background-color: $bg;
      margin-bottom: 5px;
      padding: $padding;
    }

    label.title {
      vertical-align: middle;
      color: $color_6;
    }

    .icon-star,
    .icon-search {
      vertical-align: middle;
      margin-right: 5px;
      svg {
        width: 20px;
        fill: $color_6;
      }
    }

    .form {
      font-weight: $font-bold;
      background-color: $bg;
      padding: $padding;
      position: relative;

      .inputs {
        margin: 10px auto;

        button,
        input {
          display: inline-block;
          vertical-align: middle;
        }

        input {
          width: calc(100% - 110px);
          padding: 10px;
          font-size: 1em;
          margin-right: 10px;
        }

        button {
          padding: 7px 8px;
          font-size: 1.2em;
        }

      }
    }

    .top-score {
      margin-top: 5px;
      font-weight: $font-bold;
      background-color: $bg;
      padding: $padding;
      position: relative;

      > .container {
        margin-top: 20px;
        label {
          display: block;
          margin-bottom: 15px;
          cursor: pointer;
          svg {
            fill: $color_7;
          }
        }
      }
    }

    .toggle {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      width: 20px;
      height: 20px;
      background-color: transparent;

      &:after {
        content: '';
        display: inline-block;
        text-align: center;
        width: 0;
        height: 0;
        border-bottom: 6px solid $color_6;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
      }

      &.hide {
        &:after {
          content: '';
          border-bottom: none;
          border-top: 6px solid $color_6;
        }
      }
    }
    .toggle.hide + .container-toggle {
      display: none;
    }
  }

  .container-hotels {
    display: inline-block;
    width: calc(100% - (#{$tam_filter} + 20px));
    margin-left: 12px;

    .hotel {
      $pad: 10px;
      $tam_image: 300px;
      background-color: $color_1;
      padding: $pad;
      position: relative;
      height: 100%;
      overflow: hidden;
      font-size: .7em;
      margin-bottom: 15px;
      box-shadow: 0px 0px 3px 0px rgba(115,110,115,.4);

      .row {
        display: inline-block;
        vertical-align: top;

        &.image {
          width: $tam_image;
          img {
            display: block;
            width: 100%;
            height: auto;
          }
        }
        &.info {
          width: calc(55% - (#{$tam_image} / 2 + 5px));
          padding: 0 20px;
          color: $color_6;
          font-size: .8em;

          .stars {
            svg {
              width: 20px;
              fill: $color_7;
            }
            margin: 10px auto;
          }
          .amenities {
            img {
              margin: 0 5px;
            }
          }
        }
        &.price {
          text-align: center;
          width: calc(45% - (#{$tam_image} / 2 + 5px));
          color: $color_8;
          height: calc(100% - #{$pad * 2});
          position: absolute;
          padding: 25px;

          p:first-child {
            width: 80%;
            display: block;
            margin: auto;
          }

          &:before {
            content: '';
            display: block;
            width: 0;
            min-height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            border-left: 1px dashed $color_9;
          }

          .special {
            display: block;
            color: $color_10;
            font-size: 2em;
            margin-top: 20px;

            strong,
            span {
              display: inline-block;
              margin: 0 5px;
              vertical-align: middle;
            }
            span {
              font-weight: $font-light;
            }
            strong {
              font-size: 1.6em;
            }

          }

          button {
            font-size: 1.5em;
            display: block;
            margin: 15px auto;
            width: 100%;
            padding: 10px 5px;
          }
        }
      }
    }

  }

}