<section id="home" class="container">
  <aside class="filter">
    <h3>Filtros</h3>
    <div class="container form">
      <ng-include src="'icons/filters/search.svg'" class="icon-search"></ng-include>
      <label class="title">Nombre del hotel</label>
      <div class="container inputs">
        <input type="text" ng-model="hotel" placeholder="Ingrese el nombre del hotel">
        <button class="button" ng-click="vm.search">Aceptar</button>
      </div>
    </div>
    <div class="container top-score">
      <ng-include src="'icons/filters/star.svg'" class="icon-star"></ng-include>
      <label class="title">Estrellas</label>

      <div class="container">
        <label>
          <input
            type="checkbox"
            name="allStar">
          <span>Todas las estrellas</span>
        </label>

        <label>
          <input
            type="checkbox"
            name="allStar">
          <ng-include src="'icons/filters/star.svg'" class="icon-star" ng-repeat="x in [1,2,3,4,5]"></ng-include>
        </label>

        <label>
          <input
            type="checkbox"
            name="allStar">
          <ng-include src="'icons/filters/star.svg'" class="icon-star" ng-repeat="x in [1,2,3,4]"></ng-include>
        </label>

        <label>
          <input
            type="checkbox"
            name="allStar">
          <ng-include src="'icons/filters/star.svg'" class="icon-star" ng-repeat="x in [1,2,3]"></ng-include>
        </label>

        <label>
          <input
            type="checkbox"
            name="allStar">
          <ng-include src="'icons/filters/star.svg'" class="icon-star" ng-repeat="x in [1,2]"></ng-include>
        </label>

        <label>
          <input
            type="checkbox"
            name="allStar">
          <ng-include src="'icons/filters/star.svg'" class="icon-star" ng-repeat="x in [1]"></ng-include>
        </label>

      </div>

    </div>
  </aside>

  <div class="container container-hotels">
    <div class="hotel">
      <div class="row image">
        <img src="images/hotels/00650d24_b.jpg" alt="Hotel demo">
      </div>
      <div class="row info">
        <h2>Hotel Stefanos</h2>
        <div class="container stars">
          <ng-include src="'icons/filters/star.svg'" ng-repeat="x in [1,2,3]"></ng-include>
        </div>
        <div class="container amenities">
          <img src="icons/amenities/restaurant.svg" width="25" alt="restaurant">
          <img src="icons/amenities/sheets.svg" width="25" alt="sheets">
          <img src="icons/amenities/business-center.svg" width="25" alt="business-center">
        </div>
      </div>
      <div class="row price">
        <p>Precio por noche por habitación</p>
        <span>ARS <strong>863</strong></span>
        <button class="button">Ver hotel</button>
      </div>
    </div>
  </div>
</section>