<section id="home" class="container">
  <aside class="filter">
    <h3>Filtros</h3>
    <button
      type="button"
      class="toggle hide-filters"
      ng-class="{'hide':hidefilters}"
      ng-click="hidefilters = !hidefilters">
      Filtrar
    </button>
    <div class="container container-toggle-filter">
      <div class="container form">
        <ng-include src="'icons/filters/search.svg'" class="icon-search"></ng-include>
        <label class="title">Nombre del hotel</label>
        <button
          type="button"
          class="toggle"
          ng-class="{'hide':hideInputs}"
          ng-click="hideInputs = !hideInputs">
        </button>
        <div class="container container-toggle inputs">
          <input type="text" ng-model="hotel" placeholder="Ingrese el nombre del hotel">
          <button class="button" ng-click="vm.search">Aceptar</button>
        </div>
      </div>
      <div class="container top-score">
        <ng-include src="'icons/filters/star.svg'" class="icon-star"></ng-include>
        <label class="title">Estrellas</label>
        <button
          type="button"
          class="toggle"
          ng-class="{'hide':hideCheckbox}"
          ng-click="hideCheckbox = !hideCheckbox">
        </button>
        <div class="container container-toggle checkbox">
          <label>
            <input
              type="checkbox"
              name="allStar">
            <span>Todas las estrellas</span>
          </label>

          <label>
            <input
              type="checkbox"
              name="allStar">
            <ng-include src="'icons/filters/star.svg'" class="icon-star" ng-repeat="x in [1,2,3,4,5]"></ng-include>
          </label>

          <label>
            <input
              type="checkbox"
              name="allStar">
            <ng-include src="'icons/filters/star.svg'" class="icon-star" ng-repeat="x in [1,2,3,4]"></ng-include>
          </label>

          <label>
            <input
              type="checkbox"
              name="allStar">
            <ng-include src="'icons/filters/star.svg'" class="icon-star" ng-repeat="x in [1,2,3]"></ng-include>
          </label>

          <label>
            <input
              type="checkbox"
              name="allStar">
            <ng-include src="'icons/filters/star.svg'" class="icon-star" ng-repeat="x in [1,2]"></ng-include>
          </label>

          <label>
            <input
              type="checkbox"
              name="allStar">
            <ng-include src="'icons/filters/star.svg'" class="icon-star" ng-repeat="x in [1]"></ng-include>
          </label>
        </div>
      </div>
    </div>
  </aside>

  <div class="container container-hotels">
    <div class="hotel" ng-repeat="x in hotels">
      <div class="row image">
        <img ng-src="images/hotels/{{x.image}}" alt="{{x.name}}">
      </div>
      <div class="row info">
        <h2>{{x.name}}</h2>
        <div class="container stars">
          <ng-include src="'icons/filters/star.svg'" ng-repeat="x in [1,2,3]"></ng-include>
        </div>
        <div class="container amenities">
          <img
            ng-src="icons/amenities/{{ico}}.svg"
            width="25"
            ng-repeat="ico in x.amenities"
            alt="restaurant">
        </div>
      </div>
      <div class="row price">
        <p>Precio por noche por habitación</p>
        <p class="special"><span>ARS</span><strong>{{x.price | currency: '':0}}</strong></p>
        <button type="button">Ver hotel</button>
      </div>
    </div>
  </div>
</section>